body{
    max-width: 480px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
header{
    margin: 0px auto;
	background-color: #1d2f79;
	text-align: center;
}
header img, .headings {
	display: inline-block;
	vertical-align: middle;

}
#logo{
  width:100px;
}
#motto{
  color: #6cbbd7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  } 
  
  li a {
    display: block;
    text-decoration: none;
    color: #e4efff;
    background-color: #0e245a;
    padding:10px;
    text-align: center;
    
  }

  li a.active {
    background-color: #0e245a;
    color: #e4efff;
  }
  
  li a:hover:not(.active) {
    background-color: #1d2f79;
    color: #6cbbd7;
  }



  h1 {
      text-align: center;
      margin: auto;
  color: #e4efff;
  }

  #weathersummary {
      background-color: lightgray;
      width: 200px;
      height: 200px;
    margin:20px;
  }

#town {
    background-color: #1d2f79;
  padding: 15px
}

#farm {
  width:480px;
}

article {
  background-color: #1d2f79;
  color: #e4efff;
  padding:20px;
  margin:0px;
}
article img{
  padding:0px;
}
#preston {
  width: 480px;
}

#contact {
  background-color: aqua;
  
}
#contact p {
  margin:0px;
}
footer{
  background-color: aliceblue;
  height: 100px;
  
}
